* {
    bg-col:  #282c34;
    bg-col-light: #282c34;
    border-col: #282c34;
    selected-col: #282c34;
    blue: #e5c07b;
    fg-col: #dcdfe4;
    fg-col2: #e5c07b;
    grey: #dcdfe4;
    width: 800;
}
