* {
    bg-col:  #141414;
    bg-col-light: #141414;
    border-col: #141414;
    selected-col: #141414;
    blue: #e5c07b;
    fg-col: #dcdfe4;
    fg-col2: #e5c07b;
    grey: #dcdfe4;
    width: 800;
}
