[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = dilangrajales1128@gmail.com
	username = Dilan Grajales
	name = Dilan Grajales
[init]
	defaultBranch = main
