## PATH
export PATH="$HOME/.local/bin:$PATH"

## DPI
xrandr --dpi 96 &

## Cargar la configuración de tamaño/tema desde .Xresources
xrdb -merge "$HOME/.Xresources" &

# Definir el cursor del fondo (root window)
xsetroot -cursor_name left_ptr &
