* {
    bg-col:  #23272E;
    bg-col-light: #23272E;
    border-col: #23272E;
    selected-col: #23272E;
    blue: #C792EA;
    fg-col: #e6efff;
    fg-col2: #6fa6e7;
    grey: #e6efff;
    width: 600;
}
