# ~/.local/share/applications/jwt-secret.desktop
[Desktop Entry]
Name=Generar JWT Secret
Exec=/home/dilangrajales/.local/bin/jwt-secret
Type=Application
Terminal=false
